body {
    background-color: pink;
}

#question-div {
    width: 80%;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
    text-align: center;
}

#question-txt, #response {
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
#response {
    display: none;
}

#image {
    display: block;
    margin: 0 auto;
    width: 65%;
    height: auto;
    border-radius: 15px;
}

#yes-btn, #no-btn {
    position: relative;
    top: 15%;
    width: 30%;
    height: 7%;
    border-radius: 50px;
    border: none;
    margin: 0 5px; /* adds 5px on each side */
    margin-top: 5px;
}

#yes-btn {
    background: linear-gradient(rgb(33, 255, 240), rgb(19, 205, 193));
    color: white;
    font-size: large;
}
#no-btn {
    background: linear-gradient(rgb(65, 65, 65), rgb(96, 96, 96));
    color: white;
    font-size: large;
}

#hint {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}